# Database configuration
DATABASE_URL=mysql+pymysql://root:rootpassword@database:3306/attendance_db

# Security
SECRET_KEY=replace_with_a_secure_long_random_hex_string_in_production
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=14

# Environments
ENV_NAME=development
LOG_LEVEL=INFO
